<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Super Ofertones</mat-card-title>
    <mat-card-subtitle
      >Aprovecha este fin de semana, cientos de artículos con descuento que
      están de miedo. Recuerda traer tu cuponístico, entre más puntos tengas,
      más artículos podrás canjear!
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="imagen"
    src="https://miro.medium.com/max/1200/0*XXQQZPN_ucgTqfhl.jpg"
    alt=""
  />
</mat-card>
