<mat-card>
  <mat-card-title
    >Empleados<button
      mat-raised-button
      color="primary"
      class="end"
      (click)="openDialognew()"
    >
      Agregar
    </button></mat-card-title
  >

  <mat-card-content>
    <table mat-table [dataSource]="employees" class="full-width">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <th mat-cell *matCellDef="let employee">{{ employee.name }}</th>
      </ng-container>
      <ng-container matColumnDef="firstLastName">
        <th mat-header-cell *matHeaderCellDef>Primer apellido</th>
        <th mat-cell *matCellDef="let employee">
          {{ employee.firstLastName }}
        </th>
      </ng-container>
      <ng-container matColumnDef="secondLastName">
        <th mat-header-cell *matHeaderCellDef>Segundo apellido</th>
        <th mat-cell *matCellDef="let employee">
          {{ employee.secondLastName }}
        </th>
      </ng-container>
      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef>Salario</th>
        <th mat-cell *matCellDef="let employee">
          {{ employee.salary | currency: "MX" }}
        </th>
      </ng-container>
      <ng-container matColumnDef="administrator">
        <th mat-header-cell *matHeaderCellDef>Administrador</th>
        <th mat-cell *matCellDef="let employee">
          {{ employee.administrator }}
        </th>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <th mat-cell *matCellDef="let employee">
          <button
            mat-raised-button
            color="primary"
            (click)="openDialog(employee.id)"
          >
            <mat-icon class="icons">edit</mat-icon>
            Editar
          </button>
        </th>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <th mat-cell *matCellDef="let employee">
          <button
            mat-raised-button
            color="warn"
            (click)="deleteEmployee(employee.id)"
          >
            <mat-icon class="icons">delete</mat-icon>Eliminar
          </button>
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
